@media screen and (max-width: 480px) {
    .logo-image {
        max-width: 70px;
    }
    .navigation {
        margin-top: 8px;
    }
    .nav-button {
        display: block;
    }
    #search button {
        display: none;
    }
    #search input {
        padding: 10px;
        border: solid 1px;
        border-radius: 5px;
        flex: 1;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
    }

}