@media screen and (max-width: 480px) {
    .logo-image {
        max-width: 45px;
    }
    .logo-link {
        align-self: flex-start;
    }
    .page_header{
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    .navigation {
        margin-top: 8px;
    }
    .nav-button {
        display: block;
    }
    #search {
        min-width: 50px;
        flex: 1;
    }
    #search button {
        display: none;
    }
    #search input {
        padding: 10px;
        border: solid 1px;
        border-radius: 5px;
        flex: 1;
        max-width: 100%;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        width: 100%;
        transition: max-height 1s;
        flex-wrap: nowrap;
        position: absolute;
        top: 89%;
        left: 0px;
        background-color: var(--cadet-gray);
        z-index: 999;
    }
    #main.open {
        max-height: 50vh;
    }
    #user-nav a:nth-child(1) {
        display: none;
    }
    #user-nav {
        gap: 5px;
        font-size: 0.8em;
    }
    #user-nav a {
        padding: 5px;
    }
    .main-content {
        max-width: 100vw;
    }
    .card {
        min-width: 30vw;
        flex-shrink: 0;
    }
    .card-container {
        min-width: 160vw;
    }
    .scrollbox {
        overflow-x: scroll;
    }
}