@media screen and (max-width: 480px) {
    .logo-image {
        max-width: 45px;
    }
    .logo-link {
        align-self: flex-start;
    }
    .page_header{
        justify-content: flex-start;
    }
    .navigation {
        margin-top: 8px;
    }
    .nav-button {
        display: block;
    }
    #search {
        min-width: 100px;
    }
    #search button {
        display: none;
    }
    #search input {
        padding: 10px;
        border: solid 1px;
        border-radius: 5px;
        flex: 1;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
    }
    #user-nav a:nth-child(1) {
        display: none;
    }

}