:root {
    /* SCSS HEX */
    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --cadet-gray: #889696ff;
    --hookers-green: #5f7470ff;
    color-scheme: light dark;
}

body {
    background-color: var(--alabaster);
    color: var(--hookers-green);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

a {
    font-size: 120%;
}

a:link {
    color: #863479
}

a:visited {
    color: #ff6de7
}

a:hover {
    color: #646464
}

a:active {
    color: #000000
}

h1 {
    color: #ffffff;
    background-color: darkgray
}

img {
    max-width: 100%;
}

.about-image {
    width: 700px;
    margin: auto;
    display: block;
}

.page_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cadet-gray);
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-image {
    max-width: 100px;
    min-width: 30px;
    padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.navigation a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.account_navigation a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border: solid;
    border-color: var(--alabaster);
    border-radius: 5px;
    display: none;
}

.nav-button img {
    width: 40px;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
}

#search button {
    padding: 10px;
    border: solid 1px;
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* -------------------------------- carousel -------------------------- */
.slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--timberwolf);
    background-size: cover;
    background-position: center;
}
.slide h2 {
    font-size: 3em;
    text-shadow: 0px 0px 6px black;
}
.slide button {
    padding: 15px;
    background-color: var(--hookers-green);
    min-width: 300px;
    border: solid 1px var(--alabaster);
    border-radius: 5px;
}
.slide:nth-child(1) {
    background-image: url("images/slides/pexels-kpaukshtite-3089386.jpg");
    color: orange;
}
nav a {
    text-decoration: none;
}

.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--cadet-gray);
    padding: 20px 10px;
    margin-top: 30px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-nav a, .social-nav a, .legal-nav a {
    color: black;
    padding: 5px;
}
.social-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 130%;
}

.legal-nav {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
/*-----------container styling------------*/
.card-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.card img {
    max-width: 100%;
    
}
.card-content {
    padding: 15px;
}
.card {
    flex: 1;
    background-color: whitesmoke;
    border: 2px solid var(--cadet-gray);
    border-radius: 10px;
    overflow: hidden;
}
.card button {
    min-width: 100%;
    padding: 8px;
    border: 2px solid var(--cadet-gray);
    border-radius: 5px;
}
.main-content {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}
.banner2 {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 45deg, red, yellow, red);
    margin-top: 1em;
}

/*----------------- form style --------------------*/
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input, .contact-form textarea {
    margin-bottom: 0.5em;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact-form button {
    min-width: auto;
}
.contact-details a {
    color: var(--hookers-green);
    font-size: medium;
}
.banner_contact {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 45deg, var(--hookers-green), var(--alabaster), var(--hookers-green));
    margin-top: 1em;
    font-size: 5em;
}
.contact_us {
    color: rgb(32, 32, 32);
}
.about-us-info {
    text-align: center;
    color: rgb(32, 32, 32);
}